EXPO_PUBLIC_API_BASE_URL=https://uat.samudaay.co.in
EXPO_PUBLIC_WEBSOCKET_URL=wss://uat.samudaay.co.in/ws
EXPO_PUBLIC_TENANT_ID=samudaay
EXPO_PUBLIC_TENANT_SLUG=samudaay
EXPO_PUBLIC_TENANT_NAME=Samudaay
EXPO_PUBLIC_TENANT_NAME_GU=સમુદાય
EXPO_PUBLIC_TENANT_BRAND=Samudaay
EXPO_PUBLIC_TENANT_TAGLINE=Empowering our Community
EXPO_PUBLIC_TENANT_TAGLINE_GU=અમારા સમુદાયને સશક્ત બનાવીએ
EXPO_PUBLIC_TENANT_HEADER=x-tenant-slug
EXPO_PUBLIC_UI_PREVIEW_AUTH_BYPASS=false
EXPO_PUBLIC_SECURITY_AUTH_ENABLED=true
EXPO_PUBLIC_ALLOW_COMMUNITY_SWITCH=false
APP_ANDROID_PACKAGE=com.samudaay
APP_IOS_BUNDLE_ID=com.samudaay
GOOGLE_SERVICES_JSON=./firebase/google-services.json
GOOGLE_SERVICES_INFO_PLIST=./firebase/GoogleService-Info.plist
EXPO_PUBLIC_SECOND_LANGUAGE=gu
