APP_ANDROID_PACKAGE=com.bridgestone.stitchcommunity
APP_IOS_BUNDLE_ID=com.bridgestone.stitchcommunity
GOOGLE_SERVICES_JSON=./firebase/google-services.json
GOOGLE_SERVICES_INFO_PLIST=./firebase/GoogleService-Info.plist
EXPO_PUBLIC_SECOND_LANGUAGE=gu
