<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFHUt4YiS2PMqPadDmDIAAH7CK18UFXmo</string>
	<key>GCM_SENDER_ID</key>
	<string>1086154976377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samudaaay.demo</string>
	<key>PROJECT_ID</key>
	<string>samudaaay-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>samudaaay-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086154976377:ios:80cb0b2204a21cc3ef78a8</string>
</dict>
</plist>